<div class="board-square d-flex justify-content-center">
    <div class="board-text-wrapper" [ngClass]="[boardspace.suit % 2 === 0 ? 'black' : 'red', selectable ? 'selectable' : 'not-selectable']">
        {{ boardspace.name }}
        <span class="symbol" *ngIf="boardspace.suit === 0">♠</span>
        <span class="symbol" *ngIf="boardspace.suit === 1">♦</span>
        <span class="symbol" *ngIf="boardspace.suit === 2">♣</span>
        <span class="symbol" *ngIf="boardspace.suit === 3">♥</span>
    </div>
</div>
