.board-square {
    display: inline-block;
    width: 43px;
    height: 58px;
    border: 1px solid black;
    margin: 1em 1em 0 0;
}

.board-text-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.symbol {
    margin-left: .25em;
}
.red {
    color: red;
}
.selectable {
    background-color: lightblue;
}

.player1 {
    background-color: green;
}